/ProyectoBuses/nbproject/private/
/ProyectoBuses/build/
/2doBimestre/nbproject/private/
/2doBimestre/build/
/Practica/nbproject/private/
/Practica/build/
/Parcial2B/nbproject/private/
/Parcial2B/build/
/Repaso/nbproject/private/
